* {box-sizing:border-box;}
body {background-color: #CCC;}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#form-container {
    float: left;
}

#interests-checker {
    float: right;
}

#info-container {
    float: right;
}

#interest-container {
    float: left;
}


.greeting {
    color: black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.info-container {
    float: right;
    width: 290px;
    padding: 10px;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.7);
}

.googlemap-container {
    height: 600px;
    padding: 0 0 20px 0;
}

#map-canvas { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}